/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
margin: 0;
padding: 0;
list-style: none;
}
ul li {
font-family: 'IBM Plex Sans', sans-serif;
display: inline;
text-decoration: none;
padding-bottom: 10vh;

}
.question{
font-family: 'IBM Plex Sans', sans-serif;
display: block;
grid-column: 3/6;
padding-bottom: 10vh;
margin-left: 40%;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
}
nav ul{
  text-align: center;
}
.navother{
font-family: 'IBM Plex Sans', sans-serif;
text-align: center;
letter-spacing: .5rem;
line-height: 6vh;
text-decoration: none;
background-color: white;
margin-bottom: 4vh;
padding-left: 20%;
padding-right: 20%;
height: 6vh;
list-style: none;
z-index: 1000;

}
.navother li {
padding: 0 1vw;
text-align: center;
}
.navother li a {
color: #000;
padding: 5px 5px;
text-decoration: none;
padding-left: 1vw;
}
/* Change the link color on hover */
.navother li a:hover {
background-color: black;
color: white;
}
.navmain{
font-family: 'IBM Plex Sans', sans-serif;
text-align: center;
letter-spacing: .5rem;
line-height: 7vh;
text-decoration: none;
background-color: black;
margin:0;
padding: 0;
padding-left: 6%;
padding-right: 10%;
height: 7vh;
color:white;
list-style: none;
z-index: 1000;
}
.navmain li {
  margin:0;
  padding: 0;
  display: inline;
}
.navmain li a {
  display: inline;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  padding-left: 1vw;
}

/* Change the link color on hover */
.navmain li a:hover {
  background-color: white;
  color: black;
}

ul li {
    list-style: none;
}
ul li::before {
    content: space;
    font-family: 'IBM Plex Sans', sans-serif;
}



ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  width: 50%;
  font-size: 1rem;
  line-height: 1em;
  margin-bottom: 1rem;
}
ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1;
}

body {
  padding: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 20vh;
  max-width:75%;
  margin: 0 auto;
}
.padding {
  padding-left: 10vh;
}
section.quote div {
    width: 75vw;
    font-size: 10rem;
}

section div p img{
  object-fit: cover;
}
p{
  width: 60vh;
  padding-bottom: 20vh;
}
.intro{
  padding-left: 15%;
  padding-right: 30%;
}
h1{
  font-family: 'IBM Plex Sans', sans-serif;
  grid-column: 1/4;
  font-size: 5.7rem;
  line-height: 1em;
  font-weight: 700;
  margin-top: 30vh;
  margin-bottom: 5vh;
}
h2{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: black;
  color: white;
  grid-column: 1/4;
  font-size: 3rem;
  line-height: 10vh;
  height: 10vh;
  margin-top: 20vh;
  margin-bottom: 10vh;
}
section.span div{

}

a:link {
  text-decoration: none;
}
.mindset{
  grid-template-columns: repeat(2, 1fr);
}
.grid{
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}
.one{

}
.two{
  grid-column: 2/4;
  section div p {
    width: 75vw;
    grid-template-columns: repeat(2, 1fr);
      height: 60vh;
      width: 40vh;
      object-fit: cover;
      grid-gap: 10vh;
  }
}
.three{

}
.four{
  grid-column: 2/4;
    grid-template-columns: repeat(2, 1fr);
      object-fit: cover;

}
.five{

}
.quote{
  font-size: 10rem;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.center{
  text-align: center;
  grid-column: 2/3;
}
strong{
    font-size: 1.5rem;
    transition: all 0.3s ease;
}
strong:hover{
  font-size: 4rem;
  line-height: 1em;

}
a:link {
  text-decoration: none;
  color: black;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: darkblue;
}






/*knock out text*/
.shade {
    position: relative;
    margin: 0 auto;
    font-size: 5rem;
    line-height: 1em;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.shade, .shade::before, .shade::after {
    height: 50vh;
    width: 37vw;
    line-height: 16vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.shade::before, .shade::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.shade::before {
    z-index: -2;
    background-image: inherit;
}
.shade::after {
    z-index: -1;
    background-color: rgba(0,0,0,0);
    transition: all 300ms;
}
.shade:hover::after {
    background-color: rgba(0,0,0,.9);
}
.imageone {
    background-image:url(shoplocal.jpg);
}
.imagetwo {
    background-image:url(repair.jpg);
}
.imagethree {
    background-image:url(sustainclothes.jpg);
}
.imagefour {
    background-image:url(organic.jpg);
}
.imagefive {
    background-image:url(organized.jpg);
}
.imagesix {
    background-image:url(farmermarket.jpg);
}
